@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF9F6;
  --foreground: #2E2E2E;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
